---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }} {% endif %}
            </h2>
            <div class="menu-button-cont">
                <a class="menu-button" href='#web'>  Web  </a>
                <a class="menu-button" href='#photo'>Photo</a>
                <a class="menu-button" href='#blog'>Blog</a>
                <a class="menu-button" href='#bio'>  Bio  </a>
                <a class="menu-button" href='#contact'>Contact</a>
            </div>
        </div>
    </div>
</header>


<main id="web" class="content">
    <article class="post" style="max-width: 1120px;">
        <header class="post-header">
            <h2 class="post-title">Web Work</h2>
        </header>
        <section class="post-excerpt">
             <div class="masonry">
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/boxing.png">
                    <a href="http://www.vivelohoy.com/el-combate-del-siglo">
                    View Project</a>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/pr.png">
                    <a href="http://www.vivelohoy.com/especiales/puerto-rico-exporta-adictos-a-chicago">
                    View Project</a>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/qgis.png">
                    <a href="http://www.vivelohoy.com/chicago/8440106/resultados-de-la-segunda-vuelta-a-la-alcaldia-por-recinto">
                    View Project</a>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/mapbox.png">
                    <a href="http://www.vivelohoy.com/chicago/8440123/resultados-de-la-contienda-electoral-en-los-distritos-con-mayoria-latina-en-chicago">
                    View Project</a>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/vida.png">
                    <a href="http://www.luciovilla.com/projects/care/">
                    View Project</a>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/web/nahj.png">
                    <a href="http://www.nahj-chi.org">
                    View Project</a>
                </div>
             </div>
        </section>
    </article>
</main>

<main id="photo" class="content grey-bg">
    <article class="post" style="max-width: 1120px;">
        <header class="post-header">
            <h2 class="post-title">Photography</h2>
        </header>
        <section class="post-excerpt">
             <div class="masonry">
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/editorial.jpg">
                    <p>EDITORIAL</p>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/pr.jpg">
                    <p>FEATURES</p>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/formals.jpg">
                    <p>FORMALS</p>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/la.jpg">
                    <p>OCCUPY LA</p>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/market.jpg">
                    <p>PR/MARKETING</p>
                </div>
                <div class="item">
                    <img src="{{ site.baseurl }}/assets/images/photo/bay.jpg">
                    <p>HA LONG BAY</p>
                </div>
                
             </div>
        </section>
    </article>
</main>

<main id="blog" class="content">

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if post.categories.size > 0 %}
                {{ post.categories | array_to_sentence_string | prepend: 'Category: ' }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>

    {% endfor %}

</main>

<main id="bio" class="content grey-bg">
    <article class="post">
        <header class="post-header">
            <h2 class="post-title">About Me</h2>
        </header>
        <section class="post-excerpt">
             <img class="bio-image" src="http://luciovilla.com/assets/images/profile.jpg">
             <p>Lucio Villa works as an Interactive Producer at The San Francisco Chronicle. Before returning to California, Villa was a News Applications Developer for Hoy, a daily Spanish publication in Chicago. He also completed a year-long photojournalism fellowship at the Chicago Reporter in 2013, where he covered immigration, health and trauma issues through photography and video. During his time at the Chicago Reporter, Villa discovered he can utilize his web development skills in journalism and started exploring data visualizations, map tools and open source apps.<br><br>Villa is originally from Compton, CA and graduated from Cal State Fullerton with a Bachelor’s Degree in Photojournalism.<br><br>He enjoys attending hackathons, member of Latino Techies, member of NAHJ and enjoys teaching journalists about open-source tools.</p>
        </section>
    </article>
</main>

<main id="contact" class="content">
    <article class="post">
        <header class="post-header">
            <h2 class="post-title">Contact</h2>
        </header>
        <section class="post-excerpt">
            <br>
            <a href="https://twitter.com/luciovilla" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/lucio310" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/luciovilla" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/luciovilla" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <br>
            <a href="mailto:contact@luciovilla.com">contact[at]luciovilla.com</a></p>
        </section>
    </article>
</main>
