<script>

if (!localStorage.getItem("noBanner") && console && console.log) (function() {
/*
██╗  ██╗ ██████╗ ██╗      █████╗     ███╗   ███╗██╗   ██╗███╗   ██╗██████╗  ██████╗     ██╗
██║  ██║██╔═══██╗██║     ██╔══██╗    ████╗ ████║██║   ██║████╗  ██║██╔══██╗██╔═══██╗    ██║
███████║██║   ██║██║     ███████║    ██╔████╔██║██║   ██║██╔██╗ ██║██║  ██║██║   ██║    ██║
██╔══██║██║   ██║██║     ██╔══██║    ██║╚██╔╝██║██║   ██║██║╚██╗██║██║  ██║██║   ██║    ╚═╝
██║  ██║╚██████╔╝███████╗██║  ██║    ██║ ╚═╝ ██║╚██████╔╝██║ ╚████║██████╔╝╚██████╔╝    ██╗
╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═════╝  ╚═════╝     ╚═╝
                                                                                           
*/
})
.toString()
.replace(/^[\w\W]*\/\*|\n\*\/[\w\W]*$/gm, "")
.split("$")
.forEach(function(line) { console.info(line) });

</script>