<header class="main-header no-cover">
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">Lucio Villa</h1>
      <section class="post-excerpt contact animate">
        <a href="https://twitter.com/luciovilla" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/lucio310" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/luciovilla" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/luciovilla" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="mailto:contact@luciovilla.com"><i class="fa fa-envelope"></i></a>
      </section>
      <h2 class="page-description clearfix">Journalist + Web Developer + Photographer</h2>
      
      <div class="menu-button-cont">
        <a class="menu-button" href='#web'>  Web  </a>
        <a class="menu-button" href='#photo'>Photo</a>
        <a class="menu-button" href='#bio'>  Bio  </a>
      </div>
    </div>
  </div>
</header>
